
//COLORS
$primary-color: #000;
$secondary-color: #475A60;

//FONTS
$font-title: 'TheStockholmFont', Helvetica, Arial, Verdana, sans-serif;
$font-text: 'Mark Pro', Helvetica, Arial, Verdana, sans-serif;
$font-size: 14px;
$line-height: 20px;


